/* nejsme vcerejsi, pouzivame moderni a intuitivni box model */
html { box-sizing: border-box; }
*, ::after, ::before { box-sizing: inherit; }

/*
	BARVY
	czechitas  #b92e81
	pozadi     #bdc3c7
	tmava      #31363b
	delitka    #3f464d
	portfolio  #e74c3c
	facebook   #3b5998
	twitter    #1da1f2
*/

body {
	background-color: #bdc3c7;
	color:#bdc3c7;
}
.profil{
	height: 1000px;
	width: 250px;
	padding: 20px;
	background-color: #31363b;
	box-shadow: 2px 3px 2px #7B7974;
	margin-top: 30px;
	margin-left: 30px;
	}

.logo{
	position: absolute;
	right:;
	bottom:;
	background-color: #b92e81;
	border-radius: 50%;
}

.jmeno{
	color: aliceblue;
	font-family: 'Montserrat', sans-serif;
	font-family: 'Nunito', sans-serif;
	font-family: 'Nunito Sans', sans-serif;
	font-family: 'Open Sans', sans-serif;
}
.hlavicka{
	font-family: 'Source Sans 3', sans-serif;
}
.odkazy li{
	list-style: none;
}
.odkazy a{
	text-decoration: none;
	display: inline-block;
	
}